# Ignore everything...
*

# ...except these
!.gitignore
!README.md
!hypr/
!hypr/**
!rofi/
!rofi/**
!waybar/
!waybar/**
!xdg-desktop-portal/
!xdg-desktop-portal/**
!Code/
!Code/User/
!Code/User/settings.json
!fish/
!fish/config.fish
!kitty/
!kitty/kitty.conf
!fastfetch/
!fastfetch/config.jsonc
!fastfetch/ascii/
!fastfetch/ascii/**
