/* Configuração Geral */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    padding: 0 6px;
    margin: 0;
    border: none;
}

/* Fundo da Barra Principal */
window#waybar {
    background: #11111b;
    color: #cdd6f4;
    border-bottom: 1px solid #313244;
}

/* Espaçamento dos Workspaces */
#workspaces { margin-right: 20px; }
#workspaces button { color: #45475a; }
#workspaces button.active { color: #89b4fa; border-bottom: 2px solid #89b4fa; }

/* Título da Janela Ativa e Relógio */
#window { 
    color: #89b4fa; 
    font-style: italic; 
    margin-left: 20px; 
}
#clock { color: white; font-weight: bold; }

/* Margens de todos os módulos da direita */
#mpris, 
#power-profiles-daemon, 
#custom-updates, 
#pulseaudio, 
#bluetooth, 
#network, 
#battery, 
#custom-notification {
    margin-left: 8px;
    margin-right: 8px;
}

/* Leitor de Música */
#mpris { color: #cba6f7; font-weight: bold; }

/* Contador de Atualizações */
#custom-updates { color: #f9e2af; }

/* Cores Estáticas dos Módulos */
#pulseaudio, #bluetooth, #network, #battery { color: #bac2de; }

/* Perfis de Energia */
#power-profiles-daemon.performance { color: #f38ba8; }
#power-profiles-daemon.balanced { color: #89b4fa; }
#power-profiles-daemon.power-saver { color: #a6e3a1; }

/* Cores Dinâmicas da Bateria */
#battery.charging, #battery.plugged { color: #a6e3a1; }
#battery.discharging { color: #fab387; }
#battery.critical { color: #f38ba8; }

/* Ícone de Notificações */
#custom-notification { color: #fab387; font-size: 14px; margin-right: 12px; }